* {
    /* font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif; */
    /* font-size: 15px; */
    font-family: Cartograph CF Nerd Font, monospace;
    font-size: 17px;
    font-weight: bold;
    border-radius: 5px;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#idle_inhibitor,
#scratchpad,
#language,
#bluetooth,
#submap,
#workspaces{
    margin: 6px;
}

window#waybar {
    background-color: transparent;
}

#submap,
#workspaces{
    background-color: transparent;
    margin-left: 10px;
    margin-right: 10px;
}

#workspaces button{
    box-shadow: rgba(0, 0, 0, 0.1) 2 2 3 2px;
    background-color: #fff ;
    margin-right: 10px;
    padding: 2px 10px 0px 7px;
    color: 	#cba6f7 ;
}

#workspaces button.active{
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.377);
    padding: 0 18px 2px 12px;
    background: rgb(202,158,230);
    color: #fff;
}

#submap,
#workspaces button:hover {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.377);
    padding: 2px 10px 0 20px;
    background: linear-gradient(45deg, #8a2387 0%, #e94057 43%, #f27121 80%, #F44336 100%);
    background-size: 300% 300%;
    color: #fff;
}

/*
background: linear-gradient(45deg, rgba(202,158,230,1) 0%, rgba(245,194,231,1) 43%, rgba(180,190,254,1) 80%, rgba(137,180,250,1) 100%); 
background: linear-gradient(45deg, #8a2387 0%, #e94057 43%, #f27121 80%, #F44336 100%);
background-size: 300% 300%;
animation: gradient 10s ease infinite;

@keyframes gradient {
    0% {
    background-position: 0% 50%;
    }
    50% {
    background-position: 100% 50%;
    }
    100% {
    background-position: 0% 50%;
    }
}
*/

#window {
    font-size: 17px;
    color: #000000;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#idle_inhibitor,
#scratchpad,
#language,
#bluetooth {
    padding: 0 10px;
    background-color: #cdd6f4;
    color: #516079;
    box-shadow: rgba(0, 0, 0, 0.1) 2 2 3 2px;
}

#clock{
    background-color:rgba(245,194,231,1);
    color: #8a2387;
    margin-left: 10px;
    margin-right: 10px;
}

@keyframes blink {
    to {
      background-color: #fca503;
    }
}

#battery.critical:not(.charging) {
    background-color:  #e94057;
    animation-name: blink;
    animation-duration: 0.25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning:not(.charging) {
    background-color: #fca503;
}

#idle_inhibitor {
    margin-right: 10px;
}
