* {
    font-family: JetBrainsMonoNL NF;
    font-size: 17px;
    font-weight: bold;
    transition: none;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#idle_inhibitor,
#scratchpad,
#language,
#bluetooth,
#custom-notification,
#submap, 
#workspaces button {
    padding: 0 17px;
}
